{% extends "template.html" %}
{% block conteudo %}

        {% with messages = get_flashed_messages() %} <!-- Aqui verificamos se há alguma mensagem-->
        {% if messages %}
            <ul id="messages" class="list-unstyled">
                {% for message in messages %}
                <li class="alert alert-success">{{ message }}</li> <!-- aqui mostramos a mensagem rapida pro usuario-->
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}

        <h1>Faça seu Login</h1>
        <form action="{{ url_for('criar') }}" method="POST"> <!-- aqui o formulario vai chamar o metodo autenticar pra validar o usuario -->
            <input type="hidden" name="proxima" value="{{ proxima or url_for('index') }}"> <!-- 'proxima' é a pagina que o sistema vai ser direcionado ou index se o usuario logar -->
            <p><label for="nome de usuario">Nome de Usuario</label>     
            <input type="text" class="form-control" name="usuario" required></p>
            <p><label for="Senha">Senha:</label>
            <input type="password" class="form-control" name="senha" required></p>
            <p><button class="btn btn-primary" type="submit">Entrar</button></p>
        </form>

{% endblock %}